.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
  .Features {
    display: flex;
    justify-content: space-evenly;
    gap: 43px;
    padding: 2rem;
    
  }
    .feature-item {
      max-width: 300px;
    }
  }

  @media (max-width: 920px) {
    .Features {
      flex-direction: column;
      align-items: center;
    }
  }