.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  .navLinkContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  }